 <div class="container">
 <div class="row">

  <div  class="col-md-0"></div>
  <div  class="col-md-12">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAsIcyFjyCDVemIvuS9Zvaw58eXFNTBogc&sensor=false&libraries=places"></script>

<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
<form class="form-horizontal">
      <fieldset>

      <!-- Form Name -->
      <h1 class="text-center">Start</h1>
      <div class="form-group">  
        <div class="col-md-4">
    <%= f.input :start_address,:class => 'form-control input-md' %>     
        </div>
        <div class="col-md-4">
    <%= f.input :start_city ,:class => 'form-control input-md'%>     
        </div>
        <div class="col-md-4">
    <%= f.input :start_state,:class => 'form-control input-md' %>     
        </div>
        </div>
        <div class="form-group">  
        <div class="col-md-4">
    <%= f.input :end_address,:class => 'form-control input-md'%>     
        </div>
        <div class="col-md-4">
    <%= f.input :end_address,:class => 'form-control input-md' %>     
        </div>
        <div class="col-md-4">
    <%= f.input :end_zipcode,:class => 'form-control input-md' %>     
        </div>
        </div>
         <div class="form-group">  
        <div class="col-md-6">
    <%= f.label :car_type%>
    <%= f.select(:car_type, ['Wheelchair', 'Single'], {}, { :class => 'form-control' }) %>    
        </div>
        <div class="col-md-6">
    <%= f.label :trip_type%>
   <%= f.select(:trip_type, ['Roundtrip', 'Single'], {}, { :class => 'form-control' }) %>
   
        </div>
      
        </div>  
      
         <div class="form-group"> 
         
        <div class="col-md-2">
  <button type="button" style="margin-top: 10px;" class="btn btn-primary" onclick="calculate_fare()">Check fare</button>
</div>
</div>
<div class="calculation hidden">
<p>
  <strong>Total Miles</strong>
  <div class="total_miles">
  </div>
</p>

<p>
  <strong>Base Fare</strong>
  <div class="base_fare">
  </div>
</p>



<p>
  <strong>Total Fare</strong>
  <div class="total_fare">
  </div>
</p>
</div>
<button type="submit" style="margin-top: 10px;" class="btn btn-primary" >Create trip</button>
<!--   <div class="form-actions">
    <%#= f.button :submit ,'new trip', :class => 'btn btn-primary"'%>
  </div> -->
<% end %>
 </div>
 </fieldset>
 </form>
 </div>
<div class="col-md-0"></div>
 </div>

 </div>


<script type="text/javascript">
function initialize() {

var input = document.getElementById('trip_end_address');
var autocomplete = new google.maps.places.Autocomplete(input);
}

google.maps.event.addDomListener(window, 'load', initialize);
function calculate_fare(){
  console.log('click')
 origin = $('#trip_start_address').val()+","+ $('#trip_start_city').val()+","+$('#trip_start_state').val()
destination = $('#trip_end_address').val()
service = new google.maps.DistanceMatrixService();

service.getDistanceMatrix(
  {
    origins: [origin],
    destinations: [destination],
    travelMode: google.maps.TravelMode.DRIVING,
    avoidHighways: false,
    avoidTolls: false,
  }, 
  callback
);

function callback(response, status) {
console.log(status)
    if(status=="OK") {
      try{
      newcar=response;
        dist = response.rows[0].elements[0].distance.text;
        km_distance = Number(dist.split(' ')[0]);
        distance_in_mile =  km_distance*0.621371 ;
         trip_type = $('#trip_trip_type').val();
         car_type = $('#trip_car_type').val();
        tfare = calculate_fare_per_mile( distance_in_mile,trip_type,car_type)
        $('.calculation').removeClass('hidden');
        $('.total_miles').html(distance_in_mile+' miles');

      }
      catch(err){
        console.log(err)
        alert("we are unable to calculate fare please pcikup correct locations")
      
      }
    } 

    else {
        alert("Error: " + status);
    }
}
}

function calculate_fare_per_mile(mile,trip_type,car_type){
  console.log('in function')
 if (mile < 10) {
  console.log('mile');
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+ 20)
      $('.total_fare').html('$' + (20+2*mile))
}
else if(trip_type == 'Single' && car_type == "Single"){
   $('.base_fare').html('$ '+ 15)
   $('.total_fare').html('$' + (15+1.5*mile))
}
else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
   $('.base_fare').html('$ '+60)
    $('.total_fare').html('$ ' + (60+2*mile))

}
else if(trip_type == 'Roundtrip' && car_type == "Single"){
  $('.base_fare').html('$ '+40)
   $('.total_fare').html('$' + (40+1.5*mile))
}
else{
  alert('no match')
  return false;
}
  
 }
 else if (mile > 10 && mile < 16) {
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (20+2*mile))
    }
    else if(trip_type == 'Single' && car_type == "Single"){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (15+1.5*mile))
    }
  else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
    $('.base_fare').html('$ '+80)
     $('.total_fare').html('$' + (80+2*mile))
  }
  else if(trip_type == 'Roundtrip' && car_type == "Single"){
    $('.base_fare').html('$ '+65)
     $('.total_fare').html('$' +(65+1.5*mile))
  }
else{
  alert('no match')
  return false;
}
 }
else{
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (20+2*mile))
}
else if(trip_type == 'Single' && car_type == "Single"){
   $('.base_fare').html('$ '+15)
   $('.total_fare').html('$' + (15+1.5*mile))
}
else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
  $('.base_fare').html('free discount on total')
  discounted_price = 2*mile*0.2
   $('.total_fare').html('$' + (2*mile - (discounted_price)))

}
else if(trip_type == 'Roundtrip' && car_type == "Single"){
  $('.base_fare').html('free 20% discount on total')
  discounted_price = 1.5*mile*0.2
   $('.total_fare').html('$' + (1.5*mile - (discounted_price)))
}
else{
  alert('no match')
  return false;
}
}
}
</script>
