<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>


  <h2>Start</h2>

  <div class="form-inputs">
    <%= f.input :start_address %>
    <%= f.input :start_city%>
    <%= f.input :start_state %>
    <%= f.input :end_zipcode %>
  </div>


  <h2>End</h2>


<p>
  <strong>Latitude:</strong>
  <%= @trip.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @trip.longitude %>
</p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
