<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/assets/js/google_places.js"></script>
<div class="container">
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
<div class="row">
<div class="step1">
  <div  class="col-md-12">
      <fieldset>

      <!-- Form Name -->
      <h1 class="text-center">New Ride Request</h1>

      <!-- Text input-->
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label class="form-group control-label" for="textinput">Is this transportation for yourself or for a client/loved one? </label>  
        </div>
        <div class="col-md-5">
        <select class="form-control">
        <option>Myself</option>
        <option>Client/Loved one</option>
      </select>
         
        </div>
        <div class="col-md-1"></div>
</div>
      <!-- Text input-->
       <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label class="form-group control-label" for="textinput">Check if you need wheelchair accessible transportation?</label>
        </div>  
        <div class="col-md-5">
        <div class="checkbox">
              <label>
                <input type="checkbox"> Yes,Wheelchair Accessible 
              </label>
          </div> 
        </div>
      <div class="col-md-1"></div>
      </div>
       <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label class="form-group control-label" for="textinput">Do you/your loved on need assistance needed into the vehicle? </label>
        </div>  
        <div class="col-md-5">
        <div class="checkbox">
              <label>
                <input type="checkbox"> Yes, Escorted to Car 
              </label>
          </div> 
        </div>
    <div class="col-md-1"></div>
    </div>
      <!-- Text input-->
       <div class="row">
       <div class="col-md-1"></div>
      <div class="col-md-5">
        <label class="form-group control-label" for="textinput">If so, what type of assistance is necessary?(Please Explain) </label></div>  
        <div class="col-md-5">
        <textarea class="form-control" rows="5" id="comment"></textarea>
         
        </div>
        <div class="col-md-1"></div>
        </div>
      <div style="clear: both;"></div>
      <h3 class="text-center">What date and time is your pickup?</h3> 
      
      
      <!-- Text input-->
      <div class="row" style="margin-bottom: 7px;">
      <div class="col-md-3">
        <label class="form-group control-label" for="textinput">Select a date </label> </div> 
        <div class="col-md-3">
        <input id="textinput" name="textinput" type="date" placeholder="Date" class="form-control input-md" required="">
         
        </div>
  
      <!-- Text input-->
      <div class="col-md-3">
        <label class="form-group control-label" for="textinput">Select a time:</label></div>  
        <div class="col-md-3">
        <input id="textinput" name="textinput" type="time" placeholder="time" class="form-control input-md" required="">
         
        </div>
        </div>
        </fieldset>
      <fieldset>
      <div class="row">
        <div class="col-md-3">
        <label class="form-group control-label" for="textinput">Do you need a return ride?  </label></div>  
        <div class="col-md-3">
        <select class="form-control">
        <option>Yes</option>
        <option>No</option>
      </select>
         
        </div>
      
      <div class="col-md-3">
        <label class="form-group control-label" for="textinput">What time should we arrive for your return ride?</label></div>  
        <div class="col-md-3">
        <input id="textinput" name="textinput" type="time" placeholder="return time" class="form-control input-md" required="">
         
        </div>
        </div>
    <div class="row">
     <div class="col-md-6">
        <label class="form-group control-label" for="textinput">Do you need to schedule this appointment for another day and/or time?</label>  
      </div> <div class="col-md-6">
        <select class="form-control">
        <option>Yes</option>
        <option>No</option>
      </select>
         
        </div>
  </div>

      </fieldset>
      <fieldset>
      <h3 class="text-center">Enter Pick-Up Location</h3>
      <div class="row" style="margin-bottom: 7px;">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <label class="form-group control-label" for="textinput">What kind of location is this?</label>  
      </div>
        <div class="col-md-4">
          <select class="form-control">
          <option>Other</option>
          <option>Home</option>
          <option>Doctor/Medical</option>
          <option>Errand Location</option>
        </select>
      </div>
      <div class="col-md-2"></div>
      </div>
      <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-4">
        <label class="form-group control-label" for="textinput">Start Address</label>  
      </div>
        <div class="col-md-4">
          <%= f.text_field :start_address  ,:class => 'form-control'%>
        </div>
        <div class="col-md-2"></div>
    </div>
      
      <div style="clear: both;"></div>
      </fieldset>

            <fieldset>
      <h3 class="text-center">Enter Drop Off Location</h3>
      <div class="row">
      <div class="col-md-2"></div>
        <label class="col-md-4 control-label" for="textinput">What kind of destination is this?</label>  
        <div class="col-md-4">
        <select class="form-control">
        <option>Other</option>
        <option>Home</option>
        <option>Doctor/Medical</option>
        <option>Errand Location</option>
      </select>
      </div>
      <div class="col-md-2"></div>
      </div>
      <div style="clear: both;"></div>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
          <%= f.label :end_address, 'destination'%>
          <%= f.text_field :end_address,:class => 'form-control' %>
        </div>
        </div>
      <div class="col-md-4">
      <div class="form-group">
    <%= f.label :car_type%>
   <%= f.select(:car_type, ['Wheelchair', 'saden'], {}, { :class => 'form-control' }) %>
    </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
  <%= f.label :trip_type%>
   <%= f.select(:trip_type, ['Roundtrip', 'Single'], {}, { :class => 'form-control' }) %>
    &ensp;
    </div>
    </div>
    </div>
<div style="clear: both;"></div>
     
      </fieldset>
<div class="row" >
<div class="calculation hidden" style="margin-bottom: 25px;">
<div class="col-md-3">
  <h4>Total Miles</h4>
  <div class="total_miles">
  </div>
</div>

<div class="col-md-3">
  <h4>Base Fare</h4>
  <div class="base_fare">
  </div>
</div>



<div class="col-md-3">
  <h4>Total Fare</h4>
  <div class="total_fare">
  </div>
</div>
</div>

  <div class="form-actions" style="text-align: center;  margin-bottom: 25px;">
    <button class="btn btn-info" style="display: inline-block; text-align: center; margin:auto;" type="button" onclick="calculate_fare()">Calculate Trip Payment</button>
     
  <button class="btn btn-info" style=" text-align: center;" type="button" onclick="hide_step1()">Submit/Next</button>
  </div>

  
</div>

 </div>
 </div> <!-- step1 end -->
<!-- second form for step2 -->
<div class="step2 hidden">
  <div class="col-md-12">
    <h1 class="text-center">Total<span class = "next_fare"><sup>00</sup></span></h1>
      <h4 class="text-center">Name On Card</h4>
        <div class="col-md-4"></div><div class="col-md-4">  
      <input id="textinput" name="textinput"class="form-control input-md" required="" placeholder="First Name  Last Name" type="text">
      </div><div class="col-md-4"></div>
    <div class="col-md-12"><h4 class="text-center">Card Number</h4></div>
    <div class="col-md-4"></div><div class="col-md-4">
      <input id="textinput" name="textinput"class="form-control input-md bord" required="" placeholder="1234 5678 9012 3456" type="text">
    </div><div class="col-md-4"></div>
    <div class="col-md-12"><h4 class="text-center">Expiration Date</h4></div>
    <div class="col-md-4"></div><div class="col-md-4">
      <input id="textinput" name="textinput"class="form-control input-md bord" required="" placeholder="10/15" type="text">
    </div><div class="col-md-4"></div>
    <div class="col-md-12"><h4 class="text-center">Billing Zip Code</h4></div>
    <div class="col-md-4"></div><div class="col-md-4">
      <input id="textinput" name="textinput"class="form-control input-md bord" required="" placeholder="12345" type="text">
      </div><div class="col-md-4"></div>
     <div class="form-actions text-center"  style="display: block; margin-top: 10px; text-align: center; max-width: 130px; margin: auto;">
    <%= f.button :submit,'Submit Payment', class: 'btn btn-primary' %>
  </div>
  </div>
</div> <!-- step2 end -->



<!-- end second form -->




</div>
<% end %>
</div>

  <style>
.step2 {
  background: #fff;
  font-family: 'Roboto';
}
.step2 #container {
  margin: 2em auto 1em;
  position: relative;
  box-sizing: border-box;
}
.step2 p {
  margin: 0 0 3em;
}
.step2 .fa-lock {
  position: absolute;
  color: #5ed9eb;
  right: 2.3em;
  top: 1.2em;
  line-height: 3em;
  border-radius: 100%;
}
.step2 h1 {
  color: #5ed9eb;
  margin: 0;
  background: rgba(94,217,235,0.3);
  font-weight: 700;
  line-height: 1;
  padding: 2em 1em;
  font-size: 1em;
  letter-spacing: 0.5em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
}
.step2 h1 span {
  color: #5ed9eb;
  margin: 0 0 0;
  display: block;
  font-size: 6em;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-family: 'Roboto Mono';
}
.step2 h1 span:before {
  content: '$';
  font-size: 0.5em;
  position: relative;
  top: -0.6em;
  left: -0.2em;
}
.step2 h1 span:after {
  content: '00';
  font-size: 0.3em;
  position: relative;
  letter-spacing: 0.03em;
  top: -1.7em;
  right: -0.1em;
}
.step2 form {
  padding-top: 1em;
  margin: 0;
  width: 18em;
  margin: auto;
  text-align: center;
}
.step2 label {
  color: rgba(0,0,0,0.6);
  margin-bottom: 0;
  padding: 0.1em 0.5em;
  width: 100%;
  font-size: 0.8em;
 
}
.step2 input {
  display: block;
  border: none;
  border-bottom: 2px dotted rgba(0,0,0,0.2);
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  color: rgba(0,0,0,0.6);
  letter-spacing: 0.01em;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Roboto Mono';
  margin-bottom: 10px;
}
.step2 input:focus {
  outline: none;
  border-bottom: 2px solid #5ed9eb;
  background: transparent;
}
.step2 input[type="submit"] {
  width: 120%;
   background: #5ed9eb;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Roboto';
}
.step2 input[type="submit"]:hover {
  background: #5ed9eb;
  border-color: #5ed9eb;
  color: #fff;
}
.step2 ::-webkit-input-placeholder {
  color: rgba(0,0,0,0.16);
}
:-moz-placeholder {
/* Firefox 18- */
  color: rgba(0,0,0,0.2);
  font-style: italic;
}
 ::-moz-placeholder {
/* Firefox 19+ */
  color: rgba(0,0,0,0.2);
  font-style: italic;
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.2);
  font-style: italic;
}

</style>

<script type="text/javascript">
$(document).keypress(function (e) {
    if (e.which == 13) {
        hide_step1()
        return false;
    }
});

function hide_step1(){
  abc = calculate_fare();
  if(!error)
  {
    $('.step1').addClass('hidden')
    $('.step2').removeClass('hidden')
  }
  
}
function initialize() {

var input = document.getElementById('trip_end_address');
var start_address = document.getElementById('trip_start_address');
var autocomplete = new google.maps.places.Autocomplete(input);
var autocomplete1 = new google.maps.places.Autocomplete(start_address);
}

google.maps.event.addDomListener(window, 'load', initialize);
function calculate_fare(){
  console.log('click')
 origin = $('#trip_start_address').val();
destination = $('#trip_end_address').val()
service = new google.maps.DistanceMatrixService();

service.getDistanceMatrix(
  {
    origins: [origin],
    destinations: [destination],
    travelMode: google.maps.TravelMode.DRIVING,
    avoidHighways: false,
    avoidTolls: false,
  }, 
  callback
);

function callback(response, status) {
console.log(status)
    if(status=="OK") {
      try{
      newcar=response;
        dist = response.rows[0].elements[0].distance.text;
        km_distance = Number(dist.split(' ')[0]);
        distance_in_mile =  km_distance*0.621371 ;
         trip_type = $('#trip_trip_type').val();
         car_type = $('#trip_car_type').val();
        tfare = calculate_fare_per_mile( distance_in_mile,trip_type,car_type)
        $('.calculation').removeClass('hidden');
        $('.total_miles').html(distance_in_mile+' miles');
        error = false;
      }
      catch(err){
        console.log(err)
        alert("we are unable to calculate fare please pcikup correct locations")

         error = true;
      
      }
    } 

    else {
      error = true;
        alert("Error: " + status);
    }
}
}

function calculate_fare_per_mile(mile,trip_type,car_type){
  console.log('in function')
 if (mile < 10) {
  console.log('mile');
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+ 20)
      $('.total_fare').html('$' + (20+2*mile))
}
else if(trip_type == 'Single' && car_type == "saden"){
   $('.base_fare').html('$ '+ 15)
   $('.total_fare').html('$' + (15+1.5*mile))
}
else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
   $('.base_fare').html('$ '+60)
    $('.total_fare').html('$ ' + (60+2*mile))

}
else if(trip_type == 'Roundtrip' && car_type == "saden"){
  $('.base_fare').html('$ '+40)
   $('.total_fare').html('$' + (40+1.5*mile))
}
else{
  alert('no match')
  return false;
}
  
 }
 else if (mile > 10 && mile < 16) {
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (20+2*mile))
    }
    else if(trip_type == 'Single' && car_type == "saden"){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (15+1.5*mile))
    }
  else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
    $('.base_fare').html('$ '+80)
     $('.total_fare').html('$' + (80+2*mile))
  }
  else if(trip_type == 'Roundtrip' && car_type == "saden"){
    $('.base_fare').html('$ '+65)
     $('.total_fare').html('$' +(65+1.5*mile))
  }
else{
  alert('no match')
  return false;
}
 }
else{
    if (trip_type == 'Single' && car_type == "Wheelchair" ){
      $('.base_fare').html('$ '+20)
       $('.total_fare').html('$' + (20+2*mile))
}
else if(trip_type == 'Single' && car_type == "saden"){
   $('.base_fare').html('$ '+15)
   $('.total_fare').html('$' + (15+1.5*mile))
}
else if(trip_type == 'Roundtrip' && car_type == "Wheelchair"){
  $('.base_fare').html('free discount on total')
  discounted_price = 2*mile*0.2
   $('.total_fare').html('$' + (2*mile - (discounted_price)))

}
else if(trip_type == 'Roundtrip' && car_type == "saden"){
  $('.base_fare').html('free 20% discount on total')
  discounted_price = 1.5*mile*0.2
   $('.total_fare').html('$' + (1.5*mile - (discounted_price)))
}
else{
  alert('no match')
  return false;
}
}
total = $('.total_fare').html()
$('.next_fare').html(total)
}
</script>
<style type="text/css">
  select.form-control:not([size]):not([multiple]) {
    height: 3.5rem;
}
.step2 { background: #fff;}

.step2 h1{    color: #5ed9eb;
    margin: 0;
    background: rgba(94,217,235,0.3);
    font-weight: 700;
    line-height: 1;
    padding: 2em 1em;
    font-size: 1em;
    letter-spacing: 0.5em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;} 
    .step2 h1 span {
    color: #5ed9eb;
    margin: 0 0 0;
    display: block;
    font-size: 6em;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    font-family: 'Roboto Mono';
}
.step2 h4 { font-weight: 300; margin-bottom: 20px; font-size: 30px !important; }
/*.step2 input {
    display: block;
    border: none;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
    padding: 1.2em 0.2em 0.4em;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.01em;
    box-sizing: border-box;
    background: transparent;
    font-family: 'Roboto Mono';
}*/
/*.step2 .bord {
    border-bottom: 2px #999 dotted !important;
}*/

.step2 .form-control:focus {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
    box-shadow: none !important;
}
</style>