<style type="text/css">
    /*Panels*/

    .panel {
     border: 0;
    }

    .panel-heading {
     font-size: 18px;
     font-weight: 300;
     letter-spacing: 0.025em;
     height: 66px;
     line-height: 45px;
    }

    .panel-default .panel-heading {
     background: #fff;
     border-bottom: 1px solid #eee;
     color: #5f6468;
    }

    .panel-footer {
     background: #fff;
     border-top: 1px solid #eee;
    }

    .panel-widget {
     padding: 0;
     position: relative;
    }

    .panel-widget .panel-footer {
     border: 0;
     text-align: center;
    }

    .panel-footer .input-group {
     padding: 0px;
     margin: 0 -5px;
    }

    .panel-footer .input-group-btn:last-child>.btn, 
    .panel-footer .input-group-btn:last-child>.btn-group {
     margin: 0;
    }

    .panel-widget .panel-footer a {
     color: #999;
    }

    .panel-widget .panel-footer a:hover {
     color: #666;
     text-decoration: none;
    }

    .panel-blue { background: #30a5ff; color: #fff; }
    .panel-teal { background: #1ebfae; color: #fff; }
    .panel-orange { background: #ffb53e; color: #fff; }
    .panel-red { background: #f9243f; color: #fff; }

    .panel-blue .panel-body p,
    .panel-teal .panel-body p,
    .panel-orange .panel-body p,
    .panel-red .panel-body p { 
     color: #fff; 
     color: rgba(255, 255, 255, .8);
    }

    .panel-blue .panel-heading,
    .panel-teal .panel-heading,
    .panel-orange .panel-heading,
    .panel-red .panel-heading {
     border-bottom: 1px solid rgba(255, 255, 255, .2);
    }

    .panel-blue .text-muted,
    .panel-teal .text-muted,
    .panel-orange .text-muted,
    .panel-red .text-muted { 
     color: rgba(255, 255, 255, .5); 
    }
    .margin_top{margin-top: 50px;}
</style>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 for margin_top">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">Create New User</div>
        <div class="panel-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <fieldset>
                <div class="form-group">
                   <!--  <input class="form-control" placeholder="E-mail" name="email" autofocus="" type="email"> -->
                    <%= f.input :email, required: true, autofocus: true ,:class => 'form-control' , :placeholder => 'E-mail'%>
                </div>
                <div class="form-group">

                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),:class => 'form-control' , :placeholder => 'Password'%>
                </div>
                <div class="form-group">
                    
                    <%= f.input :password_confirmation, required: true ,:class => 'form-control' , :placeholder => 'Re-Type Password'%>

                </div>
                <div class="checkbox">
                    <label>
                        <input name="remember" value="Remember Me" type="checkbox">Remember Me
                    </label>
                </div>
                
                <%= f.button :submit, "Create New User" ,:class => 'btn btn-primary'%><%= render "devise/shared/links" %>
            </fieldset>
            <% end %>
            
        </div>
    </div>
</div>
