<!-- Header -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#aboutus">About<br> Able App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                      <%= link_to 'Sign-Up', new_customer_registration_path , class: "page-scroll" %>
                </li>
                <li>

                      <%= link_to 'Sign-In', new_customer_session_path , class: "page-scroll" %>
                </li>
                <li>
                    <a class="page-scroll" href="providerreg.html">Want to Drive for Able?<br> Driver Registration</a>
                </li>

                 <li>

                      <%= link_to 'Provider Log-in', new_customer_session_path , class: "page-scroll" %>
                </li>

                                </ul>
        </div>

    </div>

    <header>
        <div class="container">
            <div class="intro-text">

            <div class="intro-heading">Able App</div>

                <div class="intro-lead-in">Meeting your Medical Transportation Needs</div>

                <%= link_to 'Schedule A Trip', new_customer_session_path , class: "mainbutton page-scroll btn btn-xl" %>

            </div>
        </div>
    </header>
    <section id="aboutus">
     <h2>How Able Works</h2>

    <p>It’s pretty simple.  You create an account that allows you create a profile that we can use to match you or your loved one with a transportation provider that meets your needs. What’s more? We support our passengers by working with local businesses to provide special rates and discounts on much needed products and services that you can obtain on your future trips. We also help our providers give you the best treatment and service by providing stable pay and training support.</p>

    <h2>Our Network</h2>
    <p>Able provides a dedicated network of providers who have the necessary skills and experience to transport individuals with challenges to mobility.  Our providers support our community by offering dedicated vehicles and trained drivers for this purpose.  We partner with providers who match our values of trust, care and kindness and ensure that they meet our criteria and standards.</p>


    <h2>Our Goal</h2>

    <p>Able was founded by individuals with over a decade of experience providing specialized transportation services in Metro Detroit.  The vision for the company is to ensure mobility for everyone.  </p>


</section>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <h2>Our company aims to achieve this in 3 ways:<h2/>
            <div class="row">
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">

                          <%= image_tag("img/Network.jpg" , size: "200") %>
                    </span>
                    <h4 class="service-heading">Network of Transportation </h4>
                    <p class="text-muted">Providing necessary transportation services in our communities. Transportation</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <%= image_tag("img/Support.jpg" , size: "200") %>

                    </span>
                    <h4 class="service-heading">Supporting our Providers</h4>
                    <p class="text-muted">Supporting the service providers in our communities with decent pay and a reliable network that markets their services to the community.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <%= image_tag("img/Partner.jpg" , size: "200") %>

                    </span>
                    <h4 class="service-heading">Partnering with Community Resources</h4>
                    <p class="text-muted">Partnering with retailers and companies that provide the services necessary to support our providers in the offering of reliable transportation as well as those retailers and companies that provide the products and services to meet the needs of our passengers.</p>
                </div>
            </div>
        </div>
    </section>
