<!DOCTYPE html>
<html>
<head>
  <title>AbleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/frontend/bootstrap.min.css"></link>
  <script src="/assets/js/lumino.glyphs.js"></script>

  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
  <%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
